body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

h2, h5 {
    text-align: center;
    color: chocolate;
}
ul {
    margin: 0 auto;
}


div {
    background-color: burlywood;
    width: 50vw;
    margin: 0 auto;
}